body { padding: 0; margin: 0; font-family: arial; background: #FFF; color: #454545; min-width: 800px;}
a { color: #4782C3; background: inherit; }
a:hover { color: #D67327; background: inherit;}
a.title { color: #042EB9; background: #FFF; }

h1 { margin: 0; padding: 0; font-size: 1.2em; line-height: 2em; font-weight: normal; color: #D67327;}
h1 a { background: inherit; }
h2 { margin: 0; padding: 0; font-size: 1.2em; line-height: 2em; font-weight: normal; color: #D67327; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #4782C3; background: inherit; }
h3 { font-size: 1em; margin: 0 0 10px 0; font-weight: bold; color: #555555;}
h4 { color: #454545; border-bottom: 1px solid #c1c1c1;}
p {margin: 0 0 0px 0; line-height: 1.5em; }
form { margin: 0; }
label.search { font-size: 1em; color: #454545; font-weight: bold; width: 200px; float: left; text-align:left;}
select.search { font-size: 1em; background: #FFF; color: #454545; width: 250px;}
input.price { font-size: 1em; background: #FFF; color: #454545; width: 60px;}
input.search { font-size: 1em; background: #FFF; color: #454545;}
input.submit { font-size: 1em; font-weight: bold; padding: 0px 3px 3px 3px;}

.search input {
	width: 250px;	
	 font-size: 1em; 
	 background: #FFF;
	  color: #454545;
}
.search { margin-bottom: 3px; margin-top: 2px;}
div.search img { margin: 0; padding: 0; border: none;}
input.contact { font-size: 1em; background: #FFF; color: #454545; width: 250px;}
textarea.contact { font-size: 1em; background: #FFF; color: #454545; width: 250px; height: 210px;}
select.contact { font-size: 1em; background: #FFF; color: #454545; width: 250px;}
/* layout
   ------ */

.content { 
	margin: 10px auto;
	width: 100%;
	background: #FFF;
	color: #454545;
	
}

.logo {	padding: 18px 0 0 3px; }

.bottom { background-color: #FFF; margin: 5px 10px 0 10px;}

/* header */
.header_top { background: white; color: #FFF; height: 15px; }
.header { padding: 0px 10px 0px 10px; margin: 0px 0px 0px 0px;}
.header_bottom { clear: both; background: white; color: #FFF; height: 15px; }
    
/* navigation */
#nav { float: right;}
#nav ul { margin:0; list-style:none; padding: 0 0 0 0; }
#nav a, #nav strong, #nav span { float:left; display:block; color:#042EB9; padding: 7px 17px 4px 17px; text-decoration:none;}
#nav a { float:none; text-decoration: none;}
#nav li { float:left; color: #FFF; margin:0; padding:0 0 0 7px; }
#nav #current { color: #82BB41; }
#nav #current a { color: #82BB41;}
#nav a:hover { color: #4782C3;}   
/*
#nav a, #nav strong, #nav span { float:left; display:block; color:#fff; padding: 7px 20px 4px 10px; background: #C43219 url(nav.gif) no-repeat 100% 0px; text-decoration:none; font-weight: bold; }
#nav a { float:none; }
#nav li { float:left; color: #FFF; background: #C43219 url(nav.gif) no-repeat 0px 0px; margin:0; padding:0 0 0 9px; }
#nav #current { background: #1995C2 url(nav.gif) no-repeat 0 -41px; color: #FFF; }
#nav #current a { background: #1995C2 url(nav.gif) no-repeat 100% -41px; padding:7px 20px 4px 11px; color:#FFF; }
#nav a:hover { color:#F9F19E; background: #C43219 url(nav.gif) no-repeat 100% 0px; }   
*/

#select_language { float: right;}
#select_language a { border: 0px solid;}
#select_language img { border: 0px solid;}
#select_language span { float: left; margin: 0 0 0 5px; color: #4782C3;}

.menu {}
.menu ul {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.menu ul a {
	text-decoration: none;
	display: block;
	padding: 15px 5px 15px 10px;
	width: 145px;
	font-size: 0.9em;
	color: gray;
	font-weight: bold;

}

.menu li{
	border-top: 1px solid #C1C1C1;
}

.menu ul a:hover {
	text-decoration: none;
	color: #D67327;
}

/*.menu ul li {
	/*float: left;
	position: relative;
}

.menu ul li ul {
	list-style: none;
	display: none;
	position: absolute;
	top: 5px;
	left: 60%;
	z-index: 50;

}

.menu ul li:hover ul { display: block; border: 1px solid #000;}

.menu ul li:hover ul li ul { display: none; }

.menu ul li ul li:hover ul { display: block;} */

.sf_left {
	width: 100%;
	background: #F9F19E; 
	color: #82BB41;
	padding: 10px 0px 2px 7px;
	/*border-bottom: 1px solid #58700E;*/
	margin: 2px 0 0 0;
}

.sf_left p {
	padding: 2px 0 0 2px;
}

.sf_right {
	height: 200px;
	width: 800px;
	color: #FFE4E0;
	padding: 0px 0 0px 0px;
	margin-left: auto; margin-right: auto;
}

sf_right, .logo {
	
}


.sf_search {

}
	
.subheader {
	padding: 8px;
	background: #f0f0f0;
	color: #808080;
}

/* left side
   --------- */

.left {
	float: left;
	/*width: 745px;*/
	width: 82%;
	margin: 10px 0 10px 0;
}

.box_top {
	color: #FFF;
	margin: 3px 0 10px 0;
}

.box_top h2 {
	color: #4782C3;
	background: inherit;
	margin: 0;
}

.box {
	margin: 0px;
	padding: 0;
	color: #555555;
}

.box a {
	color: #000;
}
.box a:hover {
}

.box p {
	padding: 0 0 0 5px;
}

.box_bottom {
	color: #000;
	height: 2px;
	margin: 0 0 10px 0;
}
	
/* left and central column */
.left_side { float: left; width: 20%; margin-right: 0.1%;}
.right_side { /*float: right; width: 79%;*/}

.item { min-height: 320px; height: auto; float: left; width:50%; text-align: center;}
/* for Internet Explorer */
/*\*/
* html .item {
height: 320px;
}
/**/
.item img {border: none ; padding: 0px; margin: 3px; float: none;}
.item p { margin: 0px 0 0px 0; }

.item_artist {font-size: 90%; line-height: 1.2em; color: #82BB41;}
.item_size {font-size: 75%; line-height: 1.2em;}
.item_title {font-weight: bold; line-height: 1.5em;}

/* for Internet Explorer */
/*\*/
* html .item {
height: 230px;
}
/**/

.article { padding: 0 5px 0 0px; margin-bottom: 20px; color: #454545; }
.article img {border: 3px solid White; padding: 0px; margin: 3px; float: none;}
.article p { margin: 0px 0 5px 0;}

.categories { padding: 0 5px 0 0px; margin-bottom: 20px; }
.categories img {border: 0px none; float: none;}
.categories p { margin: 0px 0 5px 0;}
.categories ol,ul{ margin: 0px; }
    
.product { margin: 3px 0 3px 0;}
.product img { float: none;}

.cart_top{
	color: #FFF;
	margin: 3px 0 10px;
}

.cart_top h2 {
	color: #82BB41;
	background: inherit;
	margin: 0;
}

.cart {
	text-align: center;
	padding: 5px 0px 5px 5px;
}

.cart_bottom {
}

.cart img {

}

.cart_product {
	
}

.cart_items{
	border: none;
	float: none;
	width: 40px;
	margin: 0 2px 0 2px;
}

.cart_item{
	float:left;
	position: relative;
}

.cart_put{
	background: url(cart_put.png) no-repeat left;
	cursor: pointer;
	margin: 0px;
	width: 16px;
	height: 16px;
}

.cart_put{
	display: inline-block;
}

.cart_remove{
	background: url(cart_remove.png) no-repeat left;
	padding-left: 16px;
	cursor: pointer;
	margin: 0px;
}

.cart_remove{
	display: inline-block;
}

div.cart-active{
	background-color: rgb(255, 244, 216);
}

.grey_top {color: #000; height: 5px; padding: 0; margin: 6px 0 0 6px; width: 50%;}
.grey { margin: 0 0 0 6px; padding: 10px; color: #808080; width: 50%;}

.grey a {
color: #C83C3C;
background: inherit;
font-weight: bold;
}

.grey a:hover {
color: #000;
background: #EDEDED;
}

.grey img { border: 0px none; float: none; margin: 0px; padding: 0px;}

.highlight {
border-bottom: 1px solid #C1C1C1;
}

.highlight span.label{
text-align: left;
float: left;
font-weight: bold;
}

.highlight span.sale{
font-weight: bold;
}

.small{
	font-size: 0.6em;
	width: 200px;
	clear: left;
}
	
		
/* right side
   ---------- */
		
.right { float: right; width: 18%; background-color: #F9F19E; margin: 10px 0 10px 0;}
		
img { float: left;}

/* footer
   ------ */

.footer { 
	clear: both; 
	text-align: center;
	color: #555555;
	background: #FFF;
	padding: 10px 0 5px 0;
}
.footer p {	line-height: 2em; }
.footer a {	color: #555555; border-bottom: 1px dotted #555555; text-decoration: none; } 


#contentfloatholder {/* right faux column tab */
float: left;
width: 100%;
}


#contentfloatholder:after {
 /* this is for NN6 to clear floats */
    content: "."; 
    display: block; 
	height: 0px;
    clear: both; 
    visibility: hidden;
}

#center_top {	
	margin: 0px 0 0 0;
}

#center_top h1{
}

#center {
    margin: 0 175px 0 175px;
}

#center_bottom {
    
	height: 6px;
}

#center_bottom h1{
	height: 6px;
    margin-right: 24px;
}

#center_contents {
    margin: 0px;
    padding: 0px;
    width: 100%;
	 border-left: 1px solid #C1C1C1;
	 border-right: 1px solid #C1C1C1;
}

#center_contents_leftbg {
    margin: 0px;
    padding: 0 5px 0 5px;
}

#centerwrap {
  float:left;
  width: 100%;                          
  margin: 0 -95% 0 0;
}

#left {
  float:left;
  width: 158px;
  	padding: 6px;
  margin: 0 0 0 -5%;
}

#right {
  float:right;
  width: 158px;
  	padding: 6px;
  
	margin: 0;
}
